SGV2_2017_10_13/TGS.SGV.Web/Service References/WsGoceVacacionalServicio/GoceVacacionalServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16858/GoceVacacionalServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" />
  <xs:element name="ListarObtenerGoce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="goceVacacionalRequest" nillable="true" type="q1:GoceVacacionalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarObtenerGoceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ListarObtenerGoceResult" nillable="true" type="q2:GoceVacacionalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>