SGV2_2017_10_13/TGS.SGV.Web/Service References/WsTrabajadorServicio/TrabajadorServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16858/TrabajadorServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" />
  <xs:element name="ObtenerDatosTrabajador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosTrabajadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ObtenerDatosTrabajadorResult" nillable="true" type="q1:TrabajadorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorPorMando">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="trabajadorRequest" nillable="true" type="q2:TrabajadorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorPorMandoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ListarTrabajadorPorMandoResult" nillable="true" type="q3:ArrayOfListaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>