SGV2_2017_10_13/TGS.SGV.Web/Service References/WsSolicitudServicio/SolicitudServicio5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Modelo" />
  <xs:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Auditoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModifica" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UsuarioModifica" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioRegistro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auditoria" nillable="true" type="tns:Auditoria" />
  <xs:complexType name="ResultadoOfSolicitud_PWewI1xn">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultadoOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Solicitud" Namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Modelo" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Modelo" minOccurs="0" name="Data" nillable="true" type="q1:Solicitud" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errores" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" type="tns:TipoResultado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOfSolicitud_PWewI1xn" nillable="true" type="tns:ResultadoOfSolicitud_PWewI1xn" />
  <xs:simpleType name="TipoResultado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Invalido" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoResultado" nillable="true" type="tns:TipoResultado" />
</xs:schema>