SGV2_2017_10_13/TGS.SGV.Web/Service References/WsSolicitudServicio/SolicitudServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" />
      <xsd:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Modelo" />
      <xsd:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" />
      <xsd:import schemaLocation="http://localhost:16858/SolicitudServicio.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitudServicio_ListarSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ObtenerSolicitudPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPorCodigo" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ObtenerSolicitudPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSolicitudPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ActualizaSolicitudTrabajador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaSolicitudTrabajador" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ActualizaSolicitudTrabajador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizaSolicitudTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_RegistraSolicitudTrabajador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistraSolicitudTrabajador" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_RegistraSolicitudTrabajador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistraSolicitudTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarComboFeriado_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarComboFeriado" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarComboFeriado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarComboFeriadoResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ObtenerFechaDerecho_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaDerecho" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ObtenerFechaDerecho_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaDerechoResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarEvaluacionSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEvaluacionSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarEvaluacionSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEvaluacionSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarEvaluacionSolicitudDPZ_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEvaluacionSolicitudDPZ" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarEvaluacionSolicitudDPZ_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEvaluacionSolicitudDPZResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ProcesoAprobarEvaluacionSolicitudFutura_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoAprobarEvaluacionSolicitudFutura" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ProcesoAprobarEvaluacionSolicitudFutura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoAprobarEvaluacionSolicitudFuturaResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ProcesoModificarEvaluacionSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoModificarEvaluacionSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ProcesoModificarEvaluacionSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoModificarEvaluacionSolicitudResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ProcesoRechazarEvaluacionSolicitud_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoRechazarEvaluacionSolicitud" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ProcesoRechazarEvaluacionSolicitud_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcesoRechazarEvaluacionSolicitudResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitudServicio">
    <wsdl:operation name="ListarSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarSolicitud" message="tns:ISolicitudServicio_ListarSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarSolicitudResponse" message="tns:ISolicitudServicio_ListarSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ObtenerSolicitudPorCodigo" message="tns:ISolicitudServicio_ObtenerSolicitudPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ObtenerSolicitudPorCodigoResponse" message="tns:ISolicitudServicio_ObtenerSolicitudPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizaSolicitudTrabajador">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ActualizaSolicitudTrabajador" message="tns:ISolicitudServicio_ActualizaSolicitudTrabajador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ActualizaSolicitudTrabajadorResponse" message="tns:ISolicitudServicio_ActualizaSolicitudTrabajador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistraSolicitudTrabajador">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/RegistraSolicitudTrabajador" message="tns:ISolicitudServicio_RegistraSolicitudTrabajador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/RegistraSolicitudTrabajadorResponse" message="tns:ISolicitudServicio_RegistraSolicitudTrabajador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarComboFeriado">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarComboFeriado" message="tns:ISolicitudServicio_ListarComboFeriado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarComboFeriadoResponse" message="tns:ISolicitudServicio_ListarComboFeriado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaDerecho">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ObtenerFechaDerecho" message="tns:ISolicitudServicio_ObtenerFechaDerecho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ObtenerFechaDerechoResponse" message="tns:ISolicitudServicio_ObtenerFechaDerecho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEvaluacionSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarEvaluacionSolicitud" message="tns:ISolicitudServicio_ListarEvaluacionSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarEvaluacionSolicitudResponse" message="tns:ISolicitudServicio_ListarEvaluacionSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEvaluacionSolicitudDPZ">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarEvaluacionSolicitudDPZ" message="tns:ISolicitudServicio_ListarEvaluacionSolicitudDPZ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarEvaluacionSolicitudDPZResponse" message="tns:ISolicitudServicio_ListarEvaluacionSolicitudDPZ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesoAprobarEvaluacionSolicitudFutura">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ProcesoAprobarEvaluacionSolicitudFutura" message="tns:ISolicitudServicio_ProcesoAprobarEvaluacionSolicitudFutura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ProcesoAprobarEvaluacionSolicitudFuturaResponse" message="tns:ISolicitudServicio_ProcesoAprobarEvaluacionSolicitudFutura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesoModificarEvaluacionSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ProcesoModificarEvaluacionSolicitud" message="tns:ISolicitudServicio_ProcesoModificarEvaluacionSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ProcesoModificarEvaluacionSolicitudResponse" message="tns:ISolicitudServicio_ProcesoModificarEvaluacionSolicitud_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcesoRechazarEvaluacionSolicitud">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ProcesoRechazarEvaluacionSolicitud" message="tns:ISolicitudServicio_ProcesoRechazarEvaluacionSolicitud_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ProcesoRechazarEvaluacionSolicitudResponse" message="tns:ISolicitudServicio_ProcesoRechazarEvaluacionSolicitud_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitudServicio" type="tns:ISolicitudServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ListarSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSolicitudPorCodigo">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ObtenerSolicitudPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaSolicitudTrabajador">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ActualizaSolicitudTrabajador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraSolicitudTrabajador">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/RegistraSolicitudTrabajador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarComboFeriado">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ListarComboFeriado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaDerecho">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ObtenerFechaDerecho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEvaluacionSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ListarEvaluacionSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEvaluacionSolicitudDPZ">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ListarEvaluacionSolicitudDPZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesoAprobarEvaluacionSolicitudFutura">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ProcesoAprobarEvaluacionSolicitudFutura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesoModificarEvaluacionSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ProcesoModificarEvaluacionSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesoRechazarEvaluacionSolicitud">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ProcesoRechazarEvaluacionSolicitud" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>