SGV2_2017_10_13/TGS.SGV.Web/Service References/WsUsuarioServicio/UsuarioServicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16858/UsuarioServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16858/UsuarioServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16858/UsuarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" />
      <xsd:import schemaLocation="http://localhost:16858/UsuarioServicio.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuarioServicio_ValidarIngreso_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarIngreso" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_ValidarIngreso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_CambiarCLave_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarCLave" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_CambiarCLave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarCLaveResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_EnvioClaveUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnvioClaveUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuarioServicio_EnvioClaveUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnvioClaveUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuarioServicio">
    <wsdl:operation name="ValidarIngreso">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/ValidarIngreso" message="tns:IUsuarioServicio_ValidarIngreso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/ValidarIngresoResponse" message="tns:IUsuarioServicio_ValidarIngreso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarCLave">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/CambiarCLave" message="tns:IUsuarioServicio_CambiarCLave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/CambiarCLaveResponse" message="tns:IUsuarioServicio_CambiarCLave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnvioClaveUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuarioServicio/EnvioClaveUsuario" message="tns:IUsuarioServicio_EnvioClaveUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuarioServicio/EnvioClaveUsuarioResponse" message="tns:IUsuarioServicio_EnvioClaveUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuarioServicio" type="tns:IUsuarioServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarIngreso">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/ValidarIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarCLave">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/CambiarCLave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioClaveUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuarioServicio/EnvioClaveUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>