SGV2_2017_10_13/TGS.SGV.Web/Service References/WsUsuarioServicio/UsuarioServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16858/UsuarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" />
  <xs:element name="ValidarIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" minOccurs="0" name="ValidarIngresoResult" nillable="true" type="q1:ResultadoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarCLave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveAnterior" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="claveNueva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarCLaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" minOccurs="0" name="CambiarCLaveResult" nillable="true" type="q2:ResultadoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioClaveUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnvioClaveUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Base" minOccurs="0" name="EnvioClaveUsuarioResult" nillable="true" type="q3:ResultadoOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>