SGV2_2017_10_13/TGS.SGV.Web/Service References/WsEmpresaServicio/EmpresaServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16858/EmpresaServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16858/EmpresaServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16858/EmpresaServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpresaServicio_ListarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IEmpresaServicio_ListarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresaServicio_ObtenerFechaCorteCip_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaCorteCip" />
  </wsdl:message>
  <wsdl:message name="IEmpresaServicio_ObtenerFechaCorteCip_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaCorteCipResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpresaServicio_ObtenerFechaCorteEvaluacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaCorteEvaluacion" />
  </wsdl:message>
  <wsdl:message name="IEmpresaServicio_ObtenerFechaCorteEvaluacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFechaCorteEvaluacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpresaServicio">
    <wsdl:operation name="ListarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresaServicio/ListarEmpresa" message="tns:IEmpresaServicio_ListarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresaServicio/ListarEmpresaResponse" message="tns:IEmpresaServicio_ListarEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaCorteCip">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresaServicio/ObtenerFechaCorteCip" message="tns:IEmpresaServicio_ObtenerFechaCorteCip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresaServicio/ObtenerFechaCorteCipResponse" message="tns:IEmpresaServicio_ObtenerFechaCorteCip_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaCorteEvaluacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpresaServicio/ObtenerFechaCorteEvaluacion" message="tns:IEmpresaServicio_ObtenerFechaCorteEvaluacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpresaServicio/ObtenerFechaCorteEvaluacionResponse" message="tns:IEmpresaServicio_ObtenerFechaCorteEvaluacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpresaServicio" type="tns:IEmpresaServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IEmpresaServicio/ListarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaCorteCip">
      <soap:operation soapAction="http://tempuri.org/IEmpresaServicio/ObtenerFechaCorteCip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFechaCorteEvaluacion">
      <soap:operation soapAction="http://tempuri.org/IEmpresaServicio/ObtenerFechaCorteEvaluacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>