SGV2_2017_10_13/TGS.SGV.Web/Service References/WsPerfilUsuarioServicio/PerfilUsuarioServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPerfilUsuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerfilUsuarioDto" nillable="true" type="tns:PerfilUsuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfilUsuarioDto" nillable="true" type="tns:ArrayOfPerfilUsuarioDto" />
  <xs:complexType name="PerfilUsuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CipUsuario" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="GestorNotificacion" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResponsableNotificacion" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TipoPerfil" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Total" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilUsuarioDto" nillable="true" type="tns:PerfilUsuarioDto" />
  <xs:complexType name="UsuarioRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cip" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CodigoEmpresa" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TipoEmpleado" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TipoPerfil" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioRequest" nillable="true" type="tns:UsuarioRequest" />
  <xs:complexType name="PerfilDtoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="PerfilDtoLista" nillable="true" type="tns:ArrayOfPerfilDto">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilDtoResponse" nillable="true" type="tns:PerfilDtoResponse" />
  <xs:complexType name="ArrayOfPerfilDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerfilDto" nillable="true" type="tns:PerfilDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfilDto" nillable="true" type="tns:ArrayOfPerfilDto" />
  <xs:complexType name="PerfilDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ambito" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NombrePerfil" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TipoPerfil" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilDto" nillable="true" type="tns:PerfilDto" />
</xs:schema>