SGV2_2017_10_13/TGS.SGV.Web/Service References/WsPerfilUsuarioServicio/PerfilUsuarioServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16858/PerfilUsuarioServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16858/PerfilUsuarioServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16858/PerfilUsuarioServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerfilUsuarioServicio_ListarAdministradorEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAdministradorEmpresa" />
  </wsdl:message>
  <wsdl:message name="IPerfilUsuarioServicio_ListarAdministradorEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAdministradorEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilUsuarioServicio_ListarAdministradorCCR_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAdministradorCCR" />
  </wsdl:message>
  <wsdl:message name="IPerfilUsuarioServicio_ListarAdministradorCCR_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAdministradorCCRResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilUsuarioServicio_ListarPerfilUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPerfilUsuario" />
  </wsdl:message>
  <wsdl:message name="IPerfilUsuarioServicio_ListarPerfilUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPerfilUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfilUsuarioServicio_ObtenerPerfilAdicional_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPerfilAdicional" />
  </wsdl:message>
  <wsdl:message name="IPerfilUsuarioServicio_ObtenerPerfilAdicional_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPerfilAdicionalResponse" />
  </wsdl:message>
  <wsdl:portType name="IPerfilUsuarioServicio">
    <wsdl:operation name="ListarAdministradorEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ListarAdministradorEmpresa" message="tns:IPerfilUsuarioServicio_ListarAdministradorEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ListarAdministradorEmpresaResponse" message="tns:IPerfilUsuarioServicio_ListarAdministradorEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAdministradorCCR">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ListarAdministradorCCR" message="tns:IPerfilUsuarioServicio_ListarAdministradorCCR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ListarAdministradorCCRResponse" message="tns:IPerfilUsuarioServicio_ListarAdministradorCCR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPerfilUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ListarPerfilUsuario" message="tns:IPerfilUsuarioServicio_ListarPerfilUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ListarPerfilUsuarioResponse" message="tns:IPerfilUsuarioServicio_ListarPerfilUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfilAdicional">
      <wsdl:input wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ObtenerPerfilAdicional" message="tns:IPerfilUsuarioServicio_ObtenerPerfilAdicional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPerfilUsuarioServicio/ObtenerPerfilAdicionalResponse" message="tns:IPerfilUsuarioServicio_ObtenerPerfilAdicional_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPerfilUsuarioServicio" type="tns:IPerfilUsuarioServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarAdministradorEmpresa">
      <soap:operation soapAction="http://tempuri.org/IPerfilUsuarioServicio/ListarAdministradorEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAdministradorCCR">
      <soap:operation soapAction="http://tempuri.org/IPerfilUsuarioServicio/ListarAdministradorCCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPerfilUsuario">
      <soap:operation soapAction="http://tempuri.org/IPerfilUsuarioServicio/ListarPerfilUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPerfilAdicional">
      <soap:operation soapAction="http://tempuri.org/IPerfilUsuarioServicio/ObtenerPerfilAdicional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>