SGV2_2017_10_13/TGS.SGV.Web/Service References/WsParametroServicio/ParametroServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16858/ParametroServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" />
  <xs:element name="ObtenerParametroInterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="parametroRequest" nillable="true" type="q1:ParametroRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametroInternoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ObtenerParametroInternoResult" nillable="true" type="q2:ParametroResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="parametroRequest" nillable="true" type="q3:ParametroRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ObtenerParametroResult" nillable="true" type="q4:ParametroResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametroAcceso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="usuarioRequest" nillable="true" type="q5:UsuarioRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerParametroAccesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ObtenerParametroAccesoResult" nillable="true" type="q6:ParametroAccesoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIndicadoresFuturo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIndicadoresFuturoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ObtenerIndicadoresFuturoResult" nillable="true" type="q7:IndicadorTrabajadorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGoceFuturo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerGoceFuturoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ObtenerGoceFuturoResult" nillable="true" type="q8:FechaGoceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIndicadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIndicadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TGS.SGV.Modelo.Dto" minOccurs="0" name="ObtenerIndicadoresResult" nillable="true" type="q9:IndicadorTrabajadorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>