SGV2_2017_10_13/TGS.SGV.Agente/Service References/WsAutenticacion/ServicioAutenticacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RRHH.Acceso.CapaComun.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RRHH.Acceso.CapaComun.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_OPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERFC_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STD_ID_PERSON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STD_N_FAM_NAME_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STD_N_FIRST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STD_N_MAIDEN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_CLAVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_CODIGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_CORREO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_ETIQUETA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_FECBLOQUEO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USUAC_FECCAMBIO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USUAC_FECEXPIRAC" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USUAC_FECHA_ACT_ETQ" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USUAC_FECINICIO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USUAC_FLAG_ETIQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_FONOBEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_FONOCOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_FONODIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_FONOMOV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_INDBLOQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_TIPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USUAC_TIPOPERM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioBE" nillable="true" type="tns:UsuarioBE" />
</xs:schema>